@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=DM+Serif+Display&display=swap");
:root {
  font-size: 62.5%; }

* {
  box-sizing: border-box; }

.app main .contact .contact_form .title {
  font-family: "DM Serif Display", sans-serif;
  font-size: 4.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 116.6%;
  color: #000; }

.app header .navBar .navBar_group .item a, .app main .contact .contact_form .submit, .app footer .contact .contact-normal .item a, .app footer .content {
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.68px;
  color: #000; }

.app main .contact .contact_form .group label, .app main .contact .contact_form .group input::placeholder,
.app main .contact .contact_form .group input,
.app main .contact .contact_form .group textarea,
.app main .contact .contact_form .group textarea::placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.18px;
  color: #000; }

.app main .contact .contact_form .submit {
  min-height: 61px;
  min-width: 183px;
  border: 4px solid #ef8094;
  border-radius: 300px;
  background: #ef8094; }

.app {
  width: 100%;
  background: #fff;
  overflow: hidden; }
  .app header {
    width: 100%; }
    .app header .topBar {
      width: 100%;
      height: 10px;
      background: url(../images/header/topBar.png) center/cover no-repeat; }
    .app header .navBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 110px;
      min-height: 90px; }
      .app header .navBar .navBar_logo {
        height: 56px; }
      .app header .navBar .navBar_group {
        display: flex;
        padding-left: 50px;
        align-items: center;
        gap: 40.5px; }
        .app header .navBar .navBar_group .item:last-child {
          padding: 10px 20px 10px 28px;
          border-radius: 300px;
          border: 2px solid #4a4a4a; }
        .app header .navBar .navBar_group .item a {
          text-decoration: none;
          letter-spacing: 2.24px; }
        .app header .navBar .navBar_group .item:last-child a {
          letter-spacing: 1.68px; }
      .app header .navBar .navBar_icon {
        display: none;
        margin-right: 16px; }
      .app header .navBar .navBar_close {
        display: none;
        font-size: 30px;
        margin-right: 16px; }
  .app main {
    width: 100%;
    height: 846px;
    padding-top: 75px;
    background: url(../images/main/BG-contact.png) center/cover no-repeat; }
    .app main .contact {
      width: 1100px;
      height: 560px;
      background: rgba(255, 255, 255, 0.6);
      padding: 36px 28px 42px 38px;
      margin: auto;
      display: flex;
      justify-content: space-between; }
      .app main .contact .contact_img {
        width: 50%;
        height: 482px;
        background: url(../images/main/contact-img.png) center/cover no-repeat;
        margin-right: 10%; }
      .app main .contact .contact_form {
        width: 40%;
        height: 482px;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .app main .contact .contact_form .group {
          width: 95%;
          display: flex;
          flex-direction: column;
          gap: 4px; }
          .app main .contact .contact_form .group label {
            font-size: 1.2rem;
            letter-spacing: normal; }
          .app main .contact .contact_form .group input,
          .app main .contact .contact_form .group textarea {
            border: 1px solid #8d8d8d;
            border-radius: 4px;
            background: #f3f3f3;
            padding: 12px 0 0 10px; }
          .app main .contact .contact_form .group input::placeholder,
          .app main .contact .contact_form .group input,
          .app main .contact .contact_form .group textarea,
          .app main .contact .contact_form .group textarea::placeholder {
            font-size: 1.4rem;
            letter-spacing: normal; }
          .app main .contact .contact_form .group input:focus,
          .app main .contact .contact_form .group textarea:focus {
            outline: none; }
        .app main .contact .contact_form .email {
          margin-top: 16px; }
          .app main .contact .contact_form .email input {
            padding-bottom: 10px; }
        .app main .contact .contact_form .message {
          margin-top: 36px; }
          .app main .contact .contact_form .message textarea {
            height: 134px;
            resize: none; }
        .app main .contact .contact_form .checkBox {
          margin-top: 22px; }
          .app main .contact .contact_form .checkBox input {
            align-self: flex-start;
            width: 18px;
            height: 18px; }
          .app main .contact .contact_form .checkBox input::before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #fd7688;
            border-radius: 2px;
            margin: 3px; }
        .app main .contact .contact_form .submit {
          font-size: 1.2rem;
          color: #fff;
          letter-spacing: normal;
          border: none;
          border-radius: 4px;
          min-width: 120px;
          min-height: 32px;
          margin-top: 40px;
          cursor: pointer; }
  .app footer {
    width: 95%;
    margin: 30px auto 32px;
    background: rgba(238, 238, 238, 0.3);
    border: 2px solid rgba(196, 196, 196, 0.3);
    border-radius: 10px; }
    .app footer .contact {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 198px;
      row-gap: 62px;
      column-gap: 183px;
      width: 100%;
      padding: 44px 85px 48px 80px;
      border-bottom: 2px solid rgba(196, 196, 196, 0.3); }
      .app footer .contact .contact_logo {
        height: 38px;
        grid-column: 1 / span 3; }
        .app footer .contact .contact_logo img {
          height: 38px; }
      .app footer .contact .contact_social {
        display: flex;
        align-items: center;
        gap: 32px; }
      .app footer .contact .contact-normal {
        display: flex;
        flex-direction: column;
        gap: 14px; }
        .app footer .contact .contact-normal .item a {
          text-decoration: none; }
        .app footer .contact .contact-normal .item-title a {
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: 2.4px; }
    .app footer .content {
      padding: 24px 72px 18px 78px;
      display: flex;
      justify-content: space-between; }

@media screen and (max-width: 1200px) {
  .app header .navBar {
    padding: 0px 40px;
    min-height: 70px; }
    .app header .navBar .navBar_logo {
      height: 37px; }
    .app header .navBar .navBar_group {
      padding-left: 30px;
      gap: 29.5px; }
      .app header .navBar .navBar_group .item:last-child {
        padding: 10px 10px 6px 14px; }
      .app header .navBar .navBar_group .item a {
        letter-spacing: 1.6px;
        font-size: 1rem; }
      .app header .navBar .navBar_group .item:last-child a {
        letter-spacing: 1.2px; }
  .app main {
    height: 844px;
    padding-top: 73px; }
    .app main .contact {
      width: 734px;
      padding: 34px 22px 42px 38px;
      justify-content: flex-start; }
      .app main .contact .contact_img {
        margin-right: 4%; }
      .app main .contact .contact_form {
        width: 35%; }
        .app main .contact .contact_form .title {
          font-size: 4.2rem; }
        .app main .contact .contact_form .group {
          width: 100%; }
        .app main .contact .contact_form .message {
          margin-top: 40px; }
        .app main .contact .contact_form .checkBox {
          margin-top: 42px; }
        .app main .contact .contact_form .submit {
          margin-top: 36px; }
  .app footer {
    width: 90%;
    margin: 42px auto 32px; }
    .app footer .contact {
      grid-template-columns: 1fr 198px;
      row-gap: 50px;
      column-gap: 0;
      padding: 54px 90px 26px 62px; }
      .app footer .contact .contact_logo {
        grid-column: 1; }
    .app footer .content {
      padding: 30px 78px 22px 62px;
      display: grid;
      grid-template-columns: 60px auto;
      column-gap: 36px;
      row-gap: 10px; }
      .app footer .content .content_desc {
        grid-area: 2 / 1 / span 1 / span 2; }
      .app footer .content .content_term {
        grid-column: 1 / span 1; }
      .app footer .content .content_privacy {
        grid-column: 2 / span 1; } }
@media screen and (max-width: 768px) {
  .app header .navBar {
    position: relative;
    padding: 0px 16px;
    min-height: 90px; }
    .app header .navBar .navBar_logo {
      height: 56px; }
    .app header .navBar .navBar_group {
      display: none;
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100%;
      padding: 20px 0;
      background: #ef8094;
      flex-direction: column;
      z-index: 10; }
      .app header .navBar .navBar_group .item:last-child {
        padding: 10px 10px 6px 14px;
        border-color: #fff; }
      .app header .navBar .navBar_group .item a {
        letter-spacing: 1.92px;
        font-size: 1.6rem;
        color: #fff; }
      .app header .navBar .navBar_group .item:last-child a {
        letter-spacing: 1.68px; }
    .app header .navBar .navBar_icon {
      display: inline-block; }
  .app main {
    min-height: 704px;
    padding-top: 80px; }
    .app main .contact {
      height: 725px;
      width: 90%;
      padding: 36px 30px 18px 38px;
      flex-direction: column; }
      .app main .contact .contact_img {
        width: 80%;
        height: 182px;
        margin-right: 0; }
      .app main .contact .contact_form {
        width: 80%; }
        .app main .contact .contact_form .checkBox {
          margin-top: 32px; }
  .app footer {
    width: 92%;
    margin: 18px auto 20px; }
    .app footer .contact {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
      padding: 40px 8px 40px 34px; }
      .app footer .contact .contact_logo {
        grid-column: 1 / span 2; }
      .app footer .contact .contact-normal {
        gap: 8px; }
        .app footer .contact .contact-normal .item a {
          font-size: 1.2rem;
          letter-spacing: 1.44px; }
        .app footer .contact .contact-normal .item-title a {
          font-size: 1.6rem;
          letter-spacing: 1.6px; }
      .app footer .contact .contact_social {
        display: none; }
      .app footer .contact .contact_upBox {
        grid-area: 2 / 1 / span 1 / span 1; }
      .app footer .contact .contact_product {
        grid-area: 2 / 2 / span 1 / span 1; }
    .app footer .content {
      padding: 22px 40px 36px 34px;
      grid-template-columns: auto;
      column-gap: 0px; }
      .app footer .content .content_desc {
        grid-area: 3 / 1 / span 1 / span 1; }
      .app footer .content .content_term {
        grid-area: 1 / 1 / span 1 / span 1; }
      .app footer .content .content_privacy {
        grid-area: 2 / 1 / span 1 / span 1; } }

/*# sourceMappingURL=contact.css.map */
